@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Boxing List Application</h1> 
    <hr />

    <p> This is an application that allows you to create a boxer, edit its information and also delete it from the list.</p>
    <br />
    <p> Start exploring by choosing the "Boxer List" option</p>
</div>
